
body {
    background-color: greenyellow;
    }

  

    .yuji-mai-regular {
        font-family: "Yuji Mai", serif;
        font-weight: 400;
        font-style: normal;
      
      }

  
      .playwrite-de-va-guides-regular {
        font-family: "Playwrite DE VA Guides", cursive;
        font-weight: 400;
        font-style: normal;
      }
      
      img {

width: 350px

      }
      
    

